<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    
    <p class="lead">AEMS (Advanced Examination Management System) is a web-based platform that simplifies and secures the examination process for educational institutions. It enables teachers to create classrooms, assign quizzes and assignments, and evaluate both objective and subjective answers. The system supports automated grading and plagiarism detection using AI models, ensuring fair assessment. With features like real-time feedback, randomized questions, and user authentication, AEMS enhances the overall efficiency, transparency, and integrity of online exams.









    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "quiz/footer.html" %}
</body>

</html>
